/* common attributes */
body {
  text-align: center;
}
h1,
h2,
h3 {
  font-family: "Montserrat-black", sans-serif;
  font-weight: bold;
  line-height: 1.5;
}
p {
  color: #8f8f8f;
}
.container-fluid {
  padding: 3% 15%;
}


/* colored section and white section */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}
.white-section {
  background-color: #fff;
  color: #0000;
}


/* navigation bar */
.navbar {
  padding: 0 0 50px;
}
.navbar-brand {
  font-weight: 600;
  font-size: 2rem;
  font-family: "Ubuntu";
}
.nav-item {
  padding: 0 20px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

/* title section */
.title-text {
  font-size: 3.5rem;
  text-align: left;
}
.download-btn {
  margin: 10% 10% 10% 0;
}
.title-image {
  width: 50%;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;
}

/* features section */
#features {
  position: relative;
}
.feature-box {
  padding: 5%;
}
.icon {
  padding-right: 1.5rem;
  color: #ef8172;
}
.icon:hover {
  color: #ff4c68;
}

/* testimonials section */
#testimonials {
  background-color: #ffac41;
}
.testimonial-text {
  font-size: 3rem;
}
.testimonial-img {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}
#press {
  background-color: #ffac41;
  padding: 0 0 5% 0;
}
.press-icon {
  margin: 0 20px;
  width: 15%;
}

/* pricing section */
.pricing-column {
  padding: 2% 2%;
}
.card {
  border: none;
  border-radius: 0;
  background-color: #fbfdff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
  transition: box-shadow ease 0.3s;
}
.card:hover {
  background-color: #ffffff !important;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.24);
}

/* Call to Action section */
#cta-heading {
  font-size: 2.5rem;
}
.download-btn2 {
  margin: 5% 2% 0;
}

/* footer section */
.footer-icon {
  margin: 0 1% 2%;
}

/* media query */
@media (max-width: 990px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }
  .title-text {
    text-align: center;
  }
}
